<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.luishenrique.alarmedevoz">

    <application
        android:name=".AlarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmeDeVoz.NoActionBar">
        <activity
            android:name=".presenter.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.service.broadcast.AlarmBroadcastReceiver"
            android:label="AlarmBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="br.com.luishenrique.alarmdevoz.INTENT_ACTION_ALARM"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>